<section class="vh-100">
  <ngx-spinner></ngx-spinner>
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5 text-center">
          <img src="assets/images/logo.jpeg" class="img-fluid w-75"
            alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form  [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  
            <div class="divider d-flex align-items-center my-4">
              <h4 class="text-center fw-bold mx-3 mb-0">ADMIN LOGIN</h4>
            </div>
  
            <!-- Email input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="form3Example3">Email address</label>
              <input type="email" id="form3Example3" class="form-control form-control-lg"
                placeholder="Enter a valid email address" [(ngModel)]="loginModel.adminMobileNo" formControlName="adminMobileNo" 
                [ngClass]="{ 'is-invalid': submitted && f.adminMobileNo.errors }"/>
                <div *ngIf="submitted && f.adminMobileNo.errors" class="invalid-feedback">
                  <div *ngIf="f.adminMobileNo.errors.required">Email Id is required</div>
                  <div *ngIf="f.adminMobileNo.errors.email">Enter valid Email ID</div>
                </div>
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-3">
              <label class="form-label" for="form3Example4">Password</label>
              <input type="password" id="form3Example4" class="form-control form-control-lg"
                placeholder="Enter password" [(ngModel)]="loginModel.adminPassword" formControlName="adminPassword"
                [ngClass]="{ 'is-invalid': submitted && f.adminPassword.errors }" [type]="fieldTextType ? 'text' : 'password'"/>
                <i class="fa password" [ngClass]="{ 'fa-eye-slash': !fieldTextType, 'fa-eye': fieldTextType}"
                (click)="toggleFieldTextType()"></i>
                <div *ngIf="submitted && f.adminPassword.errors" class="invalid-feedback">
                  <div *ngIf="f.adminPassword.errors.required">Username is required</div>
                </div>
            </div>
  
            <div class="text-center mt-4 pt-2 mb-5">
              <button type="submit" class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
            </div>
  
          </form>
        </div>
      </div>
    </div>

    <div class="footer w-100 d-flex flex-md-row justify-content-center py-2 px-4 px-xl-5 bg-primary">
      <!-- Copyright -->
      <div class="text-white mb-3 mb-md-0">
        Copyright © 2021. All rights reserved.
      </div>
      <!-- Copyright -->
    </div>
  </section>